@charset 'utf-8';
.content{
	width: 1230px;
	margin: auto;
}
#wrap{
	width: 100%;
	height: 100%;
	background-image: url(../images/index/1.png);
}
#nav{
	width: 100%;
	background:rgba(244, 249, 240,.5);
}
#nav .content{
	background-color: #a77e9a47;
}
#nav .content > span{
	margin: 0 300px 0 100px;
	text-align: center;
	line-height: 65px;
	font-size: 18px;
	padding: 2px 13px;
	border: 1px solid #d483c6;
	border-radius: 15px;
	background-color: #aca9dcbf;
	-webkit-user-select:none ;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#nav .content div{
	display: inline-block;
}
#nav .content div span{
	margin-right: 100px;
	padding: 2px 13px;
	border: 1px solid #d483c6;
	border-radius: 15px;
	background-color: #aca9dcbf;
	-webkit-user-select:none ;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
}
/*content start*/
#content{
	width: 100%;
	overflow: hidden;
	background:rgba(244, 249, 240,.5);
}
#content .p-c-top{
	width: 100%;
	height: 50px;
	background-color: #3dd8d1;
}
#content .p-c-top div{
	width: 50%;
	height: 100%;
	float: left;
	font-size: 28px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
}
#content .p-c-top div.active{
	width: 60%;
	font-size: 42px;
	color: #e8714d;
	text-shadow:5px -4px 5px #e8ea48;
	letter-spacing: 2px;
	background-color: #f1d28eab;
}
#content .p-c-top div.on{
	width: 40%;
	background-color: #907294c7;
}
#content .p-c-btn{
	width: 100%;
}
#content .p-c-btn >div{
	display: none;
	width: 100%;
	height: 100px;
	color: #fff;
}
#content .p-c-btn div.active{
	display: block;
}
#content .p-c-btn .list{
	width: 100%;
	clear: both;
}
#content .p-c-btn .list li{
	width: 24%;
	height: 300px;
	float: left;
	padding: 5px;
	border: 1px solid #a58cccd1;
	background-color: #a792bdc4;
}
#content .p-c-btn .list li .img{
	width: 100%;
	height: 80%;

}
#content .p-c-btn .list li .img img{
	width: 100%;
	height: 100%;	
}
#content .p-c-btn .list li .txt{
	width: 100%;
	height: 20%;
	text-align: center;
}
#content .p-c-btn .list li .txt a{
	width: 100%;
	line-height: 60px;
	font-size: 24px;
	font-weight: bold;
	color: #6a3f92de;
}

/*footer*/
#footer{
	width: 100%;
	padding-top: 1px;
	border-top: 2px solid #a388b1d1;
	background: rgba(244, 249, 240,.5);
}
#footer .bottom{
	height: 100%;
	padding: 10px 0;
	color: #77cec6d9;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 2px;
	font-weight: bold;
	-webkit-user-select: none;
	-moz-user-select:none ;
	-ms-user-select: none;
	-o-user-select: none;
	user-select:none ;
	background-color: #5a6b8487;
}
#footer .bottom p span{
	margin: 0 20px;
}
#footer .bottom p span a{
	color: #77cec6d9;
}